# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
.idea/misc.xml
.DS_Store
.idea
/RUNNING_PID
*/logs/
/project/*-shim.sbt
/project/project/
*/target/
target/
.projectFilesBackup
*.class
annotation-cache/
/config
*.lc
*.lex
*~
*/*.swp
*.swp