# Created by .ignore support plugin (hsz.mobi)
.DS_Store
/RUNNING_PID
*/logs/
/project/*-shim.sbt
/project/project/
*/target/
target/
.projectFilesBackup
*.class
annotation-cache/
/config
*.lc
*.lex
*~
*/*.swp
*.swp
/.idea/
/.gitignore
